<div class="col-md-8 col-md-offset-2">
  <form (ngSubmit)='onSubmit()' [formGroup]='form' ngNativeValidate>
    <div class="form-group">
      <label for="content">New message</label>
      <input type="text" 
             id='content' 
             class='form-control'
             formControlName='content'
             [ngModel]='message?.content'
             required>
    </div>
    <div>
      <button type='button' class="btn btn-danger" (click)='onClear()'>Clear</button>
      <button type='submit' class="btn btn-primary">Save</button>
    </div>
  </form>
  <hr>
</div>